/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0; }

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Breakpoints */
/* To use...     
    @media only screen and (min-width:768px) {
        height: auto;
    }
*/
/* Colors */
/* Zoetis fonts 
font-family: 'proxima_nova_condensedregular';
font-family: 'proxima_nova_rgbold';
font-family: 'proxima_novalight';
font-family: 'proxima_nova_alt_extracondensed_regular';
font-family: 'proxima_novasemibold';
font-family: 'proxima_nova_condensedSBd';
font-family: 'ProximaNovaCond-Bold';
font-family: 'ProximaNovaExtraCond-Bold';
*/
/*font-sizes*/
/*stylesheet for Core-EQ page ONLY*/
/*hide default BMST header regions*/
.logo-container,
.micro-site-nav-main {
  display: none; }

.micro-site-nav-main-mob.hidden-lg {
  display: none !important; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  overflow-x: hidden; }

/* Remove text-shadow in selection highlight */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* A better looking default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* Remove the gap between audio, canvas, iframes,images, videos and the bottom of their containers */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/* Remove default fieldset styles */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Allow only vertical resizing of textareas */
textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1 {
  font-size: 14px; }

body {
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    body {
      line-height: 1.5em; } }
  @media only screen and (min-width: 980px) {
    body {
      line-height: 1.7em; } }

h1 {
  display: block;
  font-size: 24px;
  margin: 0; }

h2 {
  display: block;
  font-size: 18px;
  margin: 0; }

h3 {
  display: block;
  font-size: 18px;
  margin: 0 0 1em 0;
  color: #FF6400; }

ul {
  font-size: 15px;
  margin: 0 0 1em 0; }

li {
  line-height: 1.6em; }
  @media only screen and (min-width: 768px) {
    li {
      line-height: 1.7em; } }
  @media only screen and (min-width: 980px) {
    li {
      line-height: 1.9em; } }

a {
  color: #949599;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  cursor: pointer; }
  a:hover {
    color: blue;
    text-decoration: underline; }

a, a:hover, a:active, a:focus {
  outline: 0; }

picture {
  width: 100%;
  height: 100%;
  display: inline-block; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

.wrapper, .wrapper--no-padding {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 0 12px;
  max-width: 950px;
  margin: 0 auto; }

.wrapper--no-padding {
  padding: 0; }

.bold {
  font-family: "proxima_nova_rgbold", Helvetica, Arial, sans-serif; }

.full-screen-width {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0 auto; }

.button-wrapper {
  display: block;
  height: 50px; }

.cta-button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 17px;
  background-color: #FF6400;
  color: #ffffff;
  padding: 14px 22px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background-color .15s linear;
  transition: background-color .15s linear; }
  .cta-button:hover {
    background-color: #ff0000;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: background-color .15s linear;
    transition: background-color .15s linear; }

.image-contain {
  max-width: 100%;
  clear: none;
  margin: 0 auto;
  text-align: center;
  position: relative; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.flex-item {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screen readers, but maintain layout */
.invisible {
  visibility: hidden; }

.clearfix:before, .wrapper:before, .wrapper--no-padding:before,
.clearfix:after,
.wrapper:after,
.wrapper--no-padding:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }


.clearfix:after,
.wrapper:after,
.wrapper--no-padding:after {
  clear: both; }

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url("../fonts/proximanova-bold.eot");
  src: url("../fonts/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold.eot.woff") format("woff"), url("../fonts/proximanova-bold.eot") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_novalight';
  src: url("../fonts/proximanova-light.eot");
  src: url("../fonts/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light.woff") format("woff"), url("../fonts/proximanova-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_novasemibold';
  src: url("../fonts/proximanova-semibold.eot");
  src: url("../fonts/proximanova-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold.woff") format("woff"), url("../fonts/proximanova-semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.slider-container--mobile {
  padding: 75px 0; }
  .slider-container--mobile h2 {
    font-size: 34px;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px; }
  @media only screen and (min-width: 768px) {
    .slider-container--mobile {
      display: none; } }

.slider-container--desktop {
  display: none; }
  @media only screen and (min-width: 768px) {
    .slider-container--desktop {
      display: block;
      padding: 75px 0; }
      .slider-container--desktop h2 {
        font-size: 34px;
        line-height: 38px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 40px; } }

.slides__item {
  width: 300px; }
  .slides__item h3 {
    text-align: center;
    font-size: 21px;
    color: #000;
    margin: 20px 0 15px 0; }
    @media only screen and (min-width: 768px) {
      .slides__item h3 {
        font-size: 24px; } }
  .slides__item p {
    font-family: "proxima_novalight", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 15px;
    color: #000;
    margin: 0 auto;
    width: 72%; }
    @media only screen and (min-width: 768px) {
      .slides__item p {
        font-size: 18px; } }
    .slides__item p sup {
      font-size: 40%;
      vertical-align: 5px; }
  .slides__item img {
    width: 102px;
    height: 120px; }

/*
 * jQuery FlexSlider v2.7.1
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 
  /* ====================================================================================================================
   * RESETS
   * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none; }

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* ====================================================================================================================
   * BASE STYLES
   * ====================================================================================================================*/
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

.flexslider .slides img {
  width: 100%;
  display: block; }

.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .flexslider .slides {
  display: block; }

* html .flexslider .slides {
  height: 1%; }

.no-js .flexslider .slides > li:first-child {
  display: block; }

/* ====================================================================================================================
   * DEFAULT THEME
   * ====================================================================================================================*/
.flexslider {
  background: #fff;
  position: relative;
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

@-moz-document url-prefix() {
  .loading .flex-viewport {
    max-height: none; } }

.carousel li {
  margin-right: 5px; }

.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 50px;
  height: 70px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: #fff; }

.flex-direction-nav a:before {
  font-family: arial;
  font-size: 0;
  display: inline-block;
  content: '';
  width: 50px;
  height: 70px;
  color: #fff; }

.flex-direction-nav .flex-prev {
  left: -50px;
  background: url("../images/slider-arrow-left.svg");
  background-repeat: no-repeat; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
  background: url("../images/slider-arrow-right.svg");
  background-repeat: no-repeat; }

.flexslider:hover .flex-direction-nav .flex-prev {
  left: 10px; }

.flexslider:hover .flex-direction-nav .flex-next {
  right: 10px; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1; }

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  display: inline-block; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 13px;
  height: 13px;
  display: block;
  background: #fff;
  border: 1px solid #FF6400;
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 100%; }

.flex-control-paging li a:hover {
  background: #FF6400; }

.flex-control-paging li a.flex-active {
  background: #FF6400;
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/* ====================================================================================================================
   * RESPONSIVE
   * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }

.accordion .gtm_product {
  display: none; }

.accordion__header-bar {
  background-color: #F0F0F0;
  color: #3C3C3C;
  padding: 7px 20px 8px 10px; }
  .accordion__header-bar h5 {
    display: inline;
    font-size: 17px;
    line-height: 21px;
    padding-left: 5px;
    position: relative;
    top: 2px; }

#accordion__open-button {
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: inline;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

.accordion__content {
  padding: 10px 20px;
  font-family: "proxima_novalight", Helvetica, Arial, sans-serif;
  display: none; }
  .accordion__content ul {
    list-style: none;
    font-size: 11px;
    margin: 0;
    padding: 0; }
    .accordion__content ul li {
      line-height: 16px; }
      .accordion__content ul li:last-child {
        margin-top: 20px; }
      .accordion__content ul li a {
        font-size: 12px;
        color: #FF6400;
        text-decoration: underline; }

.accordion--open {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

.hero-background-image {
  background-image: url("../images/horse-on-cliff-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 20px 15px;
  background-color: #000; }
  @media only screen and (min-width: 480px) {
    .hero-background-image {
      background-image: url("../images/horse-on-cliff-tablet.jpg");
      padding: 60px; } }
  @media only screen and (min-width: 768px) {
    .hero-background-image {
      background-image: url("../images/horse-on-cliff-wide.jpg"); } }

#innovator-logo {
  width: 260px;
  height: 55px; }

#email-vet {
  float: right; }
  #email-vet h3 {
    display: none;
    font-family: "proxima_novalight", Helvetica, Arial, sans-serif;
    font-weight: normal; }
    @media only screen and (min-width: 768px) {
      #email-vet h3 {
        display: inline;
        color: #fff;
        padding-left: 10px; } }
  #email-vet a:hover {
    text-decoration: none; }
  #email-vet img {
    width: 30px;
    height: 20px;
    position: relative;
    bottom: 2px; }

.hero-text-left {
  color: #fff;
  padding-top: 35px; }
  @media only screen and (min-width: 768px) {
    .hero-text-left {
      padding-top: 60px;
      max-width: 450px; } }
  .hero-text-left h1 {
    text-shadow: 5px 1px 6px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;
    font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif; }
    @media only screen and (min-width: 768px) {
      .hero-text-left h1 {
        line-height: 38px;
        font-size: 35px; } }
  .hero-text-left p {
    text-shadow: 5px 1px 6px rgba(0, 0, 0, 0.25);
    margin-bottom: 0;
    padding-bottom: 12px;
    font-size: 14px; }
    @media only screen and (min-width: 768px) {
      .hero-text-left p {
        padding-bottom: 30px;
        font-size: 17px;
        line-height: 26px; } }

.watch-video-button {
  display: block;
  height: 50px;
  width: 190px;
  line-height: 50px;
  padding: 0;
  padding-left: 53px;
  position: relative;
  font-size: 20px;
  font-family: "proxima_novalight", Helvetica, Arial, sans-serif; }
  .watch-video-button:before {
    width: 30px;
    height: 30px;
    content: "";
    background-image: url("../images/play-button.svg");
    position: absolute;
    left: 13px;
    top: 10px; }

.hero-text-center {
  color: #fff;
  padding-top: 35vh;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .hero-text-center {
      padding-top: 52vh; } }
  @media only screen and (min-width: 768px) {
    .hero-text-center {
      padding-top: 15vh; } }
  .hero-text-center h2 {
    text-shadow: 5px 1px 6px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 34px; }
    @media only screen and (min-width: 768px) {
      .hero-text-center h2 {
        font-size: 32px;
        line-height: 38px; } }
  .hero-text-center p {
    text-shadow: 5px 1px 6px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    margin: 0 auto; }
    @media only screen and (min-width: 768px) {
      .hero-text-center p {
        max-width: 420px; } }

.disease-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.disease-item {
  -ms-flex-preferred-size: 88%;
  flex-basis: 88%;
  text-align: center;
  margin: 90px 0 0 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  .disease-item:first-of-type {
    margin-top: 60px; }
  @media only screen and (min-width: 768px) {
    .disease-item {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      margin: 100px 0 0 0;
      padding: 0 15px; }
      .disease-item:first-of-type {
        margin-top: 100px; } }
  @media only screen and (min-width: 980px) {
    .disease-item {
      -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%; } }
  .disease-item h3 {
    text-shadow: 5px 1px 6px rgba(0, 0, 0, 0.25);
    padding-bottom: 3px;
    margin-bottom: 0;
    border-bottom: 3px solid #707070;
    display: inline-block;
    width: 80%;
    font-size: 22px;
    line-height: 24px;
    margin: 0 auto; }
  .disease-item p {
    text-shadow: 5px 1px 6px rgba(0, 0, 0, 0.25);
    font-family: "proxima_novalight", Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 21px;
    line-height: 24px; }
    @media only screen and (min-width: 768px) {
      .disease-item p {
        font-size: 20px; } }

.core-disease-guide {
  padding: 30px 40px;
  border-top: 3px solid #707070;
  border-bottom: 3px solid #707070;
  margin-top: 100px;
  margin-bottom: 100px; }
  @media only screen and (min-width: 768px) {
    .core-disease-guide {
      max-width: 550px;
      margin: 100px auto 80px auto; } }
  .core-disease-guide img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      .core-disease-guide img {
        display: inline-block;
        width: 108px;
        margin-bottom: 0px; } }

.core-disease-guide__text-container {
  display: block;
  width: 100%;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .core-disease-guide__text-container {
      text-align: left;
      float: right;
      width: calc(100% - 145px); } }
  .core-disease-guide__text-container h4 {
    font-family: "proxima_novalight", Helvetica, Arial, sans-serif;
    font-size: 21px;
    color: #fff;
    margin: 0 0 32px 0; }
    @media only screen and (min-width: 768px) {
      .core-disease-guide__text-container h4 {
        margin: 0 0 20px 0; } }

.core-disease-button {
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #fff;
  display: block;
  height: 50px;
  width: 300px;
  line-height: 48px;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  letter-spacing: 1px; }
  @media only screen and (min-width: 768px) {
    .core-disease-button {
      margin: 0; } }

.contact-vet {
  background-color: #FF6400;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .contact-vet .two-column-content__text {
    padding: 0 0 40px 0; }
    @media only screen and (min-width: 768px) {
      .contact-vet .two-column-content__text {
        padding: 60px 30px 40px 0; } }

.product-detail {
  background-color: #F0F0F0;
  color: #3C3C3C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 7px; }
  .product-detail .two-column-content__image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
    @media only screen and (min-width: 768px) {
      .product-detail .two-column-content__image {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; } }
  .product-detail .two-column-content__text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding: 0 0 40px 0; }
    @media only screen and (min-width: 768px) {
      .product-detail .two-column-content__text {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        padding: 60px 0 40px 30px; } }

#vials {
  max-width: 350px;
  margin: 0 auto;
  display: block; }
  @media only screen and (min-width: 768px) {
    #vials {
      max-width: 300px; } }

#medical-logo {
  max-width: 250px;
  margin: 0 auto;
  display: block; }
  @media only screen and (min-width: 768px) {
    #medical-logo {
      max-width: 300px; } }

.two-column-content__image {
  margin: 0 auto;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding: 40px 20px; }
  @media only screen and (min-width: 768px) {
    .two-column-content__image {
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%; } }

.two-column-content__text {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .two-column-content__text {
      text-align: left;
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%; } }
  .two-column-content__text h4 {
    font-family: "proxima_novalight", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 34px;
    line-height: 38px;
    margin: 0; }
  .two-column-content__text p {
    font-family: "proxima_novalight", Helvetica, Arial, sans-serif;
    font-size: 18px; }

.email-vet-button {
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #fff;
  display: block;
  height: 50px;
  width: 330px;
  line-height: 45px;
  text-align: center;
  padding: 0 0 0 30px;
  margin: 0 auto;
  letter-spacing: 1px; }
  @media only screen and (min-width: 768px) {
    .email-vet-button {
      margin: 0; } }
  .email-vet-button:before {
    width: 30px;
    height: 30px;
    content: "";
    background-image: url("../images/envelope.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 13px;
    top: 10px; }

.text-vet-button {
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #fff;
  display: block;
  height: 50px;
  width: 330px;
  line-height: 45px;
  text-align: center;
  padding: 0 0 0 30px;
  margin: 15px auto 0  auto;
  letter-spacing: 1px; }
  @media only screen and (min-width: 480px) {
    .text-vet-button {
      display: none; } }
  .text-vet-button:before {
    width: 30px;
    height: 30px;
    content: "";
    background-image: url("../images/text-bubble.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 13px;
    top: 8px; }

.view-product-button {
  font-size: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #FF6400;
  color: #FF6400;
  display: block;
  height: 50px;
  width: 270px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  letter-spacing: 1px; }
  @media only screen and (min-width: 768px) {
    .view-product-button {
      margin: 0; } }

.watch-video-button--test {
  display: block;
  height: 50px;
  width: 190px;
  line-height: 50px;
  padding: 0;
  padding-left: 53px;
  position: relative;
  font-size: 20px;
  font-family: "proxima_novalight", Helvetica, Arial, sans-serif; }
  .watch-video-button--test:hover {
    background-color: #fff;
    color: #FF6400 !important;
    text-decoration: none;
    -webkit-transition: background-color .15s linear;
    transition: background-color .15s linear; }
    .watch-video-button--test:hover:before {
      background-position: 0px -30px; }
  .watch-video-button--test:before {
    width: 30px;
    height: 30px;
    content: "";
    background-image: url("/products/horses/img/play-button-sprite.svg");
    background-position: 0px 0px;
    background-size: 30px 60px;
    background-repeat: no-repeat;
    position: absolute;
    left: 13px;
    top: 9px; }
