//hide the default CrownPeak accordion
.accordion .gtm_product {
    display: none;
}

.accordion__header-bar {
    background-color: #F0F0F0;
    color: #3C3C3C;
    padding: 7px 20px 8px 10px;

    h5 {
        display: inline;
        font-size: 17px;
        line-height: 21px; 
        padding-left: 5px;
        position: relative;
        top: 2px;
    }
}

#accordion__open-button {
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: inline;
    transition: all .25s ease-in-out;
}

.accordion__content {
    padding: 10px 20px;;
    font-family: $light-font;
    display: none;

    ul {
        list-style: none;
        font-size: 11px;
        margin: 0;
        padding: 0;

        li {
            line-height: 16px;

            &:last-child {
                margin-top: 20px;
            }

            a {
                font-size: 12px;
                color: $primary;
                text-decoration: underline;
            }
        }
    }
}

.accordion--open {
    transform: rotate(180deg);
    transition: all .25s ease-in-out;
}