
.disease-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;

    @media #{$mq-medium} {

    }
}

.disease-item {
    flex-basis: 88%;
    text-align: center;
    margin:90px 0 0 0;
    @include box-sizing;

    &:first-of-type {
        margin-top: 60px;
    }

    @media #{$mq-medium} {
        flex-basis: 50%;
        margin:100px 0 0 0;
        padding: 0 15px;

        &:first-of-type {
            margin-top: 100px;
        }
    }

    @media #{$mq-large} {
        flex-basis: 33.3%;
    }

    h3 {
        text-shadow: $shadow;
        padding-bottom: 3px;
        margin-bottom: 0;
        border-bottom: 3px solid #707070;
        display: inline-block;
        width: 80%;
        font-size: 22px;
        line-height: 24px;
        margin: 0 auto;
    }

    p {
        text-shadow: $shadow;
        font-family: $light-font;
        color: #fff;
        font-size: 21px;
        line-height: 24px; 

        @media #{$mq-medium} {
            font-size: 20px;
        }
    }
}

.core-disease-guide {
    padding: 30px 40px;
    border-top: 3px solid #707070;
    border-bottom: 3px solid #707070;
    margin-top: 100px;
    margin-bottom: 100px;

    @media #{$mq-medium} {
        max-width:550px;
        margin: 100px auto 80px auto;
    }

    img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;

        @media #{$mq-medium} {
            display: inline-block;
            width: 108px;
            margin-bottom: 0px;
        }        
    }
}

.core-disease-guide__text-container {
    display: block;
    width: 100%;
    text-align: center;

    @media #{$mq-medium} {
        text-align: left;        
        float: right;
        width: calc(100% - 145px);
    }

    h4 {
        font-family: $light-font;
        font-size: 21px;
        color: #fff;
        margin: 0 0 32px 0;

        @media #{$mq-medium} {
            margin: 0 0 20px 0;
        }
    }
}

.core-disease-button {
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid #fff;
    display: block;
    height: 50px;
    width: 300px;
    line-height: 48px;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    letter-spacing: 1px;

    @media #{$mq-medium} {
        margin: 0;
    }
}