
.hero-background-image {
    background-image: url("../images/horse-on-cliff-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px 15px;
    background-color: #000;

    @media #{$mq-small} {
        background-image: url("../images/horse-on-cliff-tablet.jpg");
        padding: 60px;
    }

    @media #{$mq-medium} {
        background-image: url("../images/horse-on-cliff-wide.jpg");
    }
}

#innovator-logo {
    width: 260px;
    height:55px;
}

#email-vet {
    float: right;

    h3 {
        display: none;
        font-family: $light-font;
        font-weight:normal;
        
        @media #{$mq-medium} {
            display: inline;
            color:#fff;
            padding-left: 10px;
        }
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }

    img {
        width:30px;
        height:20px;
        position:relative;
        bottom: 2px;
    }
}

.hero-text-left {
    color: #fff;
    padding-top: 35px;

    @media #{$mq-medium} {
        padding-top: 60px;
        max-width: 450px;
    }

    h1 {
        text-shadow: $shadow;
        font-size: 30px;
        line-height: 34px;
        text-transform: uppercase;
        font-family: $body-font;

        @media #{$mq-medium} {
            line-height: 38px;
            font-size: 35px;
        }
    }

    p {
        text-shadow: $shadow;
        margin-bottom: 0;
        padding-bottom: 12px;
        font-size: 14px;

        @media #{$mq-medium} {
            padding-bottom: 30px;
            font-size: 17px;
            line-height: 26px;
        }
    }
}

.watch-video-button {
    display: block;
    height: 50px;
    width: 190px;
    line-height: 50px;
    padding: 0;
    padding-left:53px;
    position:relative;
    font-size:20px;
    font-family: $light-font;

    &:before {
        width: 30px;
        height:30px;
        content: "";
        background-image: url("../images/play-button.svg");
        position: absolute;
        left: 13px;
        top: 10px;
    }
}

.hero-text-center {
    color: #fff;
    padding-top: 35vh;
    text-align: center;

    @media #{$mq-medium} {
        padding-top: 52vh;
    }

    @media #{$mq-medium} {
        padding-top:15vh;
    }

    h2 {
        text-shadow: $shadow;
        margin-bottom: 15px;        
        font-size: 28px;
        line-height: 34px;
        
        @media #{$mq-medium} {
            font-size: 32px;
            line-height: 38px;
        }
    }

    p {
        text-shadow: $shadow;
        font-size: 14px;
        margin: 0 auto;

        @media #{$mq-medium} {
            max-width:420px;
        }
    }
}