.slider-container--mobile {
    padding: 75px 0;

    h2 {
        font-size: 34px;
        line-height: 38px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 40px;
    }

    @media #{$mq-medium} {
        display: none;
    }
}

.slider-container--desktop {
    display: none;

        @media #{$mq-medium} {
        display: block;
        padding: 75px 0;

        h2 {
            font-size: 34px;
            line-height: 38px;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 40px;
        }
    }
}

.slides__item {
    width:300px;

    h3 {
        text-align: center;
        font-size: 21px;
        color: #000;
        margin: 20px 0 15px 0;

        @media #{$mq-medium} {
            font-size: 24px;
        }
    }
    p {
        font-family: $light-font;
        text-align: center;
        font-size: 15px;
        color: #000;
        margin: 0 auto;
        width: 72%;

        @media #{$mq-medium} {
            font-size: 18px;
        }

        sup {
            font-size: 40%;
            vertical-align: 5px;
        }
    }
    img {
        width: 102px;
        height: 120px;
    }
}


/*
 * jQuery FlexSlider v2.7.1
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 
  /* ====================================================================================================================
   * RESETS
   * ====================================================================================================================*/
  .flex-container a:hover,
  .flex-slider a:hover {
    outline: none;
  }
  .slides,
  .slides > li,
  .flex-control-nav,
  .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .flex-pauseplay span {
    text-transform: capitalize;
  }
  /* ====================================================================================================================
   * BASE STYLES
   * ====================================================================================================================*/
  .flexslider {
  
  }
  .flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
  }
  .flexslider .slides img {
    width: 100%;
    display: block;
  }
  .flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  html[xmlns] .flexslider .slides {
    display: block;
  }
  * html .flexslider .slides {
    height: 1%;
  }
  .no-js .flexslider .slides > li:first-child {
    display: block;
  }
  /* ====================================================================================================================
   * DEFAULT THEME
   * ====================================================================================================================*/
  .flexslider {
    background: #fff;
    position: relative;
    zoom: 1;
  }
  
  .flex-viewport {
    max-height: 2000px;
    transition: all 1s ease;
  }
  .loading .flex-viewport {
    max-height: 300px;
  }
  @-moz-document url-prefix() {
    .loading .flex-viewport {
      max-height: none;
    }
  }
  .carousel li {
    margin-right: 5px;
  }
  .flex-direction-nav {
    *height: 0;
  }
  .flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 50px;
    height: 70px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: #fff;
  }
  .flex-direction-nav a:before {
    font-family: arial;
    font-size: 0;
    display: inline-block;
    content: '';
    width: 50px;
    height: 70px;
    color: #fff;
  }

  .flex-direction-nav .flex-prev {
    left: -50px;
    background: url("../images/slider-arrow-left.svg");
    background-repeat: no-repeat;
  }
  .flex-direction-nav .flex-next {
    right: -50px;
    text-align: right;
    background: url("../images/slider-arrow-right.svg");
    background-repeat: no-repeat;
  }
  .flexslider:hover .flex-direction-nav .flex-prev {

    left: 10px;
  }

  .flexslider:hover .flex-direction-nav .flex-next {
    right: 10px;
  }

  .flex-direction-nav .flex-disabled {
    opacity: 0!important;
    filter: alpha(opacity=0);
    cursor: default;
    z-index: -1;
  }
  .flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
  }
  .flex-pauseplay a:before {
    display: inline-block;
  }
  .flex-pauseplay a:hover {
    opacity: 1;
  }
  .flex-pauseplay a.flex-play:before {
    content: '\f003';
  }
  .flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
  }
  .flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  .flex-control-paging li a {
    width: 13px;
    height: 13px;
    display: block;
    background: #fff;
    border: 1px solid #FF6400;
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 100%;
  }
  .flex-control-paging li a:hover {
    background: #FF6400;
  }
  .flex-control-paging li a.flex-active {
    background: #FF6400;
    cursor: default;
  }
  .flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
  }
  .flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
  }
  .flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    transition: all 1s ease;
  }
  .flex-control-thumbs img:hover {
    opacity: 1;
  }
  .flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
  }
  /* ====================================================================================================================
   * RESPONSIVE
   * ====================================================================================================================*/
  @media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
      opacity: 1;
      left: 10px;
    }
    .flex-direction-nav .flex-next {
      opacity: 1;
      right: 10px;
    }
  }
  