.contact-vet {
    background-color: $primary;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-flow: row wrap;
    justify-content: space-between;

    .two-column-content__text{
        padding: 0 0 40px 0;

        @media #{$mq-medium} {
            padding: 60px 30px 40px 0;
        }
    }
}

.product-detail {
    background-color: #F0F0F0;
    color: #3C3C3C;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 7px;

    .two-column-content__image {
        order: 1;
        @media #{$mq-medium} {
            order: 2;
        }
    }

    .two-column-content__text {
        order: 2;
        padding: 0 0 40px 0;

        @media #{$mq-medium} {
            order: 1;
            padding: 60px 0 40px 30px;
        }
    }
}

#vials {
    max-width: 350px;
    margin: 0 auto;
    display: block;

    @media #{$mq-medium} {
        max-width: 300px;
    }
}

#medical-logo {
    max-width: 250px;
    margin: 0 auto;
    display: block;

    @media #{$mq-medium} {
        max-width: 300px;
    }
}

.two-column-content__image {
    margin: 0 auto;
    flex-basis: 100%;
    padding: 40px 20px;

    @media #{$mq-medium} {
        flex-basis: 45%;
    }
}

.two-column-content__text {
    flex-basis: 100%;
    text-align: center;

    @media #{$mq-medium} {
        text-align: left;
        flex-basis: 45%;
    }

    h4 {
        font-family: $light-font;
        text-transform: uppercase;
        font-size: 34px;
        line-height: 38px;
        margin: 0;
    }

    p {
        font-family: $light-font;
        font-size: 18px;
    }
}

.email-vet-button {
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid #fff;
    display: block;
    height: 50px;
    width: 330px;
    line-height: 45px;
    text-align: center;
    padding: 0 0 0 30px;
    margin: 0 auto;
    letter-spacing: 1px;

    @media #{$mq-medium} {
        margin: 0;
    }

    &:before {
        width: 30px;
        height:30px;
        content: "";
        background-image: url("../images/envelope.svg");
        background-repeat: no-repeat;
        position: absolute;
        left: 13px;
        top: 10px;
    }
}

.text-vet-button {
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid #fff;
    display: block;
    height: 50px;
    width: 330px;
    line-height: 45px;
    text-align: center;
    padding: 0 0 0 30px;
    margin: 15px auto 0  auto;
    letter-spacing: 1px;

    @media #{$mq-small} {
        display: none;
    }

    &:before {
        width: 30px;
        height:30px;
        content: "";
        background-image: url("../images/text-bubble.svg");
        background-repeat: no-repeat;
        position: absolute;
        left: 13px;
        top: 8px;
    }
}

.view-product-button {
    font-size: 18px;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid $primary;
    color: $primary;
    display: block;
    height: 50px;
    width: 270px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    letter-spacing: 1px;

    @media #{$mq-medium} {
        margin: 0;
    }
}


.watch-video-button--test {
    display: block;
    height: 50px;
    width: 190px;
    line-height: 50px;
    padding: 0;
    padding-left: 53px;
    position: relative;
    font-size: 20px;
    font-family: "proxima_novalight", Helvetica, Arial, sans-serif;
  
    &:hover {
      background-color: #fff;
      color: #FF6400!important;
      text-decoration: none;
      -webkit-transition: background-color .15s linear;
      transition: background-color .15s linear;

      &:before {
        background-position: 0px -30px;
      }
    }

    &:before {
        width: 30px;
        height: 30px;
        content: "";
        background-image: url("/products/horses/img/play-button-sprite.svg");
        background-position: 0px 0px;
        background-size: 30px 60px;
        background-repeat: no-repeat;
        position: absolute;
        left: 13px;
        top: 9px;
      }
    }