﻿/*stylesheet for Core-EQ page ONLY*/
/*hide default BMST header regions*/
.logo-container,
.micro-site-nav-main{
    display: none;
}
.micro-site-nav-main-mob.hidden-lg {
    display: none!important;
}

* {
    box-sizing: border-box;
}


/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
}

/* Remove text-shadow in selection highlight */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* A better looking default horizontal rule */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* Remove the gap between audio, canvas, iframes,images, videos and the bottom of their containers */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/* Remove default fieldset styles */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Allow only vertical resizing of textareas */

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 {
    font-size:$font-size-small;
}

body {
    color: $body-font-color;
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    font-family:$body-font;
    margin: 0 auto;

    @media #{$mq-medium} {
        line-height: 1.5em;
    }

    @media #{$mq-large} {
        line-height: 1.7em;
    }
}

h1 {
    display: block;
    font-size:$font-size-large;
    margin:0;
}

h2 {
    display: block;
    font-size:$font-size-medium;
    margin:0;
}

h3 {
    display: block;
    font-size:$font-size-medium;
    margin: 0 0 1em 0;
    color: $primary;
}

ul {
    font-size:15px;
    margin:0 0 1em 0;
}

li {
    line-height:1.6em;

    @media #{$mq-medium} {
        line-height: 1.7em;
    }

    @media #{$mq-large} {
        line-height: 1.9em;
    }
}

a { 
    color:$secondary;
    text-decoration:none;
    font-size: 18px;
    line-height: 18px;
    font-weight:normal;
    cursor: pointer;

    &:hover {
        color:blue;
        text-decoration:underline;
    }
}

a, a:hover, a:active, a:focus {
    outline: 0;
}

picture {
    width: 100%;
    height: 100%;
    display: inline-block;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; 
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
