$wrapper-width: 950px; //This is the max-width attribute of the wrapper per breakpoint.
$wrapper-padding: 0 12px; //The gutter pixel amount of the wrapper

.wrapper {
    @include box-sizing;
    @extend .clearfix;
    position: relative;
    width: 100%;
    padding: $wrapper-padding;
    max-width: $wrapper-width;
    margin: 0 auto;

    @media #{$mq-large} {

    }
}

.wrapper--no-padding {
    @extend .wrapper;
    padding:0;
}

.bold {
    font-family: $bold-font;
}

//100% of screen
.full-screen-width {
    @include box-sizing;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.button-wrapper {
    display: block;
    height:50px;
}

.cta-button {
    @include box-sizing;
    font-size:17px;
    background-color: $primary;
    color: #ffffff;
    padding: 14px 22px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .15s linear;

    &:hover {
        background-color: $darkPrimary;
        color: #ffffff;
        text-decoration: none;
        transition: background-color .15s linear;
    }
}

.image-contain {
    max-width: 100%;
    clear: none;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

//Flexbox Classes
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-flow: row wrap;
}

.flex-item {
    -webkit-order: 0;
    order: 0;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    -webkit-align-self: auto;
    align-self: auto;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* Hide visually and from screen readers, but maintain layout */

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}