﻿/* Breakpoints */
$mq-xsmall: "only screen and (min-width:400px)";
$mq-small-width: 400px;
$mq-small: "only screen and (min-width:480px)";
$mq-small-width: 480px;
$mq-medium: "only screen and (min-width:768px)";
$mq-medium-width: 768px;
$mq-large: "only screen and (min-width:980px)";
$mq-large-width: 980px;

/* To use...     
    @media #{$mq-medium} {
        height: auto;
    }
*/

/* Colors */
$neutral: #808080;
$darkNeutral: #808081;
$primary: #FF6400; //Primary Brand Color
$darkPrimary:#ff0000;
$secondary: #949599; //Brand Secondary
$body-font-color: #000;

/* Zoetis fonts 
font-family: 'proxima_nova_condensedregular';
font-family: 'proxima_nova_rgbold';
font-family: 'proxima_novalight';
font-family: 'proxima_nova_alt_extracondensed_regular';
font-family: 'proxima_novasemibold';
font-family: 'proxima_nova_condensedSBd';
font-family: 'ProximaNovaCond-Bold';
font-family: 'ProximaNovaExtraCond-Bold';
*/

$light-font: 'proxima_novalight', Helvetica, Arial, sans-serif;
$bold-font: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
$body-font: 'proxima_novasemibold', Helvetica, Arial, sans-serif;
$heading-font: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;

$shadow: 5px 1px 6px rgba(0, 0, 0, 0.25);

/*font-sizes*/
$font-size-xsmall:12px;
$font-size-small:14px;
$font-size-medium:18px;
$font-size-large:24px;
$font-size-xlarge:36px;
$font-size-button:18px;