﻿   <main id="core-eq-wrapper">
    <section class="wrapper--no-padding hero-background-image">
        <header class="header-logos">
            <img style="display: inline-block;" src="/products/horses/img/innovator-logo.svg" id="innovator-logo" alt="horse on a cliff">
            <aside id="email-vet">
                <a id="email-vet-link-header" href="mailto:?subject=Complete Core Vaccine&body=I just heard about a new vaccine for protecting my horse against all core diseases: CORE EQ INNOVATOR™ from Zoetis. Can we discuss?    Here’s the site:https://goo.gl/VyVVjE">
                    <img src="/products/horses/img/envelope.svg" alt="envelope icon"><span class="hide-on-mobile">Email Your Veterinarian</span>
                </a>
            </aside>
        </header>
        <div class="hero-text-left">
            <h1 style="color:#fff!important;">Is Your Horse&nbsp;Exposed?</h1>
            <p style="color:#fff!important;">New CORE&nbsp;EQ&nbsp;INNOVATOR™ is the first and only vaccine to help protect against all potentially fatal core horse diseases in one injection.</p>   
            <a class="cta-button watch-video-button" id="watch-video-button" href="#">Watch Video</a>
        </div>

        <div class="hero-text-center">
            <h1 style="color:#fff!important;">CORE&nbsp;EQ&nbsp;INNOVATOR =&nbsp;CORE&nbsp;PROTECTION</h1>
            <p style="color:#fff!important;font-size: 15px;line-height:1.7em;">Annual vaccination with CORE&nbsp;EQ&nbsp;INNOVATOR helps provide the protection your horse needs. According to the American Association of Equine Practitioners (AAEP), five potentially deadly diseases pose the greatest threat to your horse.</p>
        </div>

        <div class="disease-grid">
            <div class="disease-item">
                <h3>Eastern Equine Encephalomyelitis</h3>
                <p>90% fatal, transmitted through infected&nbsp;mosquitoes <sup style="top: -6px; left:-2px; font-size: 8px;">1</sup></p>
            </div>
            <div class="disease-item">
                <h3>Rabies</h3>
                <p>100% fatal, transmitted from the bite of infected animals <sup style="top: -6px;left:-2px; font-size: 8px;">1</sup></p> 
            </div>
            <div class="disease-item">
                <h3>Western Equine Encephalomyelitis</h3>
                <p>50% fatal, transmitted through infected&nbsp;mosquitoes <sup style="top: -6px;left:-2px; font-size: 8px;">1</sup></p>
            </div>
            <div class="disease-item">
                <h3>Tetanus</h3>
                <p>75% fatal, transmitted from soil into puncture or open wounds <sup style="top: -6px;left:-2px; font-size: 8px;">2</sup></p>
            </div>
            <div class="disease-item">
                <h3>West Nile</h3>
                <p>33% fatal, transmitted through&nbsp;mosquitoes <sup style="top: -6px;left:-2px; font-size: 8px;">1</sup></p>
            </div>
        </div>
        <div class="core-disease-guide">
              <img src="/products/horses/img/core-disease-guide.jpg" alt="Core Disease Guide">
              <div class="core-disease-guide__text-container">
                  <h4>Make sure you know all you need to about the five core diseases.</h4>
                  <a class="cta-button core-disease-button" id="disease-guide-pdf" target="_blank" href="/products/horses/img/Core_Disease_Guide_TEST_PDF.pdf">View Core Disease Guide</a>
              </div>
        </div>
    </section>
    <section class="slider-container--mobile wrapper--no-padding">
        <h2>Why Core EQ Innovator?</h2>
        <div class="flexslider flexslider--mobile carousel">
            <ul style="margin-bottom: 0px; margin-left: 0px; margin-right: 0px;" class="slides">
                <li class="slides__item">  
                    <img src="/products/horses/img/check-shield.svg" />
                    <h3>Complete core vaccine</h3>
                    <p>CORE&nbsp;EQ&nbsp;INNOVATOR helps protect against all core diseases in one injection.</p>
                </li>
                <li class="slides__item">  
                    <img src="/products/horses/img/check-shield.svg" />
                    <h3>Demonstrated safe</h3>
                    <p>In field safety studies, CORE&nbsp;EQ&nbsp;INNOVATOR was 99.7% reaction-free.<sup>3, 4</sup></p>
                </li>
                <li class="slides__item">  
                    <img src="/products/horses/img/check-shield.svg" />
                    <h3>Optimize immune response</h3>
                    <p style="width:80%;">Separating core and risk-based antigens provides flexibility and efficiency to equine vaccination programs.</p>
                </li>
            </ul>
        </div>
        <div class="custom-navigation">
            <a href="#" class="flex-prev"></a>
            <div class="custom-controls-container"></div>
            <a href="#" class="flex-next"></a>
        </div>
    </section>

    <section class="slider-container--desktop wrapper--no-padding">
        <h2>Why Core&nbsp;EQ&nbsp;Innovator?</h2>
        <div class="flexslider flexslider--desktop carousel">
            <ul class="slides">
                <li class="slides__item">  
                    <img src="/products/horses/img/check-shield.svg" />
                    <h3>Complete core vaccine</h3>
                    <p>CORE&nbsp;EQ&nbsp;INNOVATOR  helps protect against all core diseases in one injection.</p>
                </li>
                <li class="slides__item">  
                    <img src="/products/horses/img/check-shield.svg" />
                    <h3>Demonstrated safe</h3>
                    <p>In field safety studies, CORE&nbsp;EQ&nbsp;INNOVATOR was 99.7% reaction-free.<sup>3, 4</sup></p>
                </li>
                <li class="slides__item">  
                    <img src="/products/horses/img/check-shield.svg" />
                    <h3>Optimize immune response</h3>
                    <p style="width:80%;">Separating core and risk-based antigens provides flexibility and efficiency to equine vaccination&nbsp;programs.</p>
                </li>
            </ul>
        </div>
    </section>

    <section class="wrapper contact-vet two-column-content">
        <div class="two-column-content__image">
            <img id="medical-logo" src="/products/horses/img/snake-v-watermark.svg" alt="medical-logo">
        </div>
        <div class="two-column-content__text">
            <h4>Contact Your Veterinarian</h4>
            <p style="color:#fff;">CORE&nbsp;EQ&nbsp;INNOVATOR is <span class="bold">only</span> available from a veterinarian. Get the information you need; talk to your veterinarian today.</p>
            <a class="cta-button email-vet-button" id="email-vet-button-body" href="mailto:?subject=Complete Core Vaccine&body=I just heard about a new vaccine for protecting my horse against all core diseases: CORE EQ INNOVATOR™ from Zoetis. Can we discuss?    Here’s the site:https://goo.gl/VyVVjE">Email My Veterinarian</a>
            <a class="cta-button text-vet-button" id="text-vet-button" href="sms:?&body=I%20just%20heard%20about%20a%20new%20vaccine%20for%20protecting%20my%20horse%20against%20all%20core%20diseases:%20CORE%20EQ%20INNOVATOR™%20from%20Zoetis.%20Can%20we%20discuss?%20Here’s%20the%20site:https://goo.gl/mCfffx">Text My Veterinarian</a>
        </div>
    </section>

    <section class="wrapper product-detail two-column-content">
            <div class="two-column-content__image">
                <img id="vials" src="/products/horses/img/vials.png" alt="medical-symbol">
            </div>
            <div class="two-column-content__text">
                <h4>Every Horse.<br>Every Spring.</h4>
                <p>Veterinarians can learn about CORE&nbsp;EQ&nbsp;INNOVATOR, including information on dosing, administration and more.</p>
                <a class="cta-button view-product-button" href="https://www.zoetisus.com/products/horses/core-eq-innovator.aspx">View Product Detail</a>
            </div>
        </section>
        <section class="wrapper--no-padding resource-accordion">
            <div class="resource-accordion__header-bar">
                <img src="/products/horses/img/circle-down-arrow.svg" alt="resource-accordion open button" id="resource-accordion__open-button">
                <h5>References</h5>
            </div>
            <div class="resource-accordion__content">
                <ul>
                    <li><sup>1</sup> American Association of Equine Practitioners, Core Vaccination Guidelines. 2012. <a target="_blank" href="https://aaep.org/guidelines/vaccination-guidelines/core-vaccination-guidelines">https://aaep.org/guidelines/vaccination-guidelines/core-vaccination-guidelines</a>. Accessed July 17, 2018.</li>
                    <li><sup>2</sup> MacKay R. Tetanus. In: Sellon DC, Long M, eds. Equine Infectious Diseases, 2nd ed. St. Louis, MO: Saunders Elsevier 2007:368-372.</li>
                    <li><sup>3</sup> Data on file, Study Report No. B951R-US-14-056, Zoetis Inc.</li>
                    <li><sup>4</sup> Data on file, Study Report No. B951R-US-16-106, Zoetis Inc. </li>
                    <li>COR-00053</li>
                </ul>
            </div>
        </section>
        <script>
            document.querySelector('#email-vet-link-header').addEventListener('click', function(e){  
            Munchkin.munchkinFunction('clickLink', {
                'href': '/email-vet-link-header'
             })
          });
          document.querySelector('#watch-video-button').addEventListener('click', function(e){  
            Munchkin.munchkinFunction('clickLink', {
                'href': '/watch-video-button'
             })
          });
          document.querySelector('#email-vet-button-body').addEventListener('click', function(e){  
            Munchkin.munchkinFunction('clickLink', {
                'href': '/email-vet-button-body'
             })
          });
          document.querySelector('#text-vet-button').addEventListener('click', function(e){  
            Munchkin.munchkinFunction('clickLink', {
                'href': '/text-vet-button'
             })
          });
          document.querySelector('#disease-guide-pdf').addEventListener('click', function(e){  
            Munchkin.munchkinFunction('clickLink', {
                'href': '/disease-guide-pdf'
             })
          });
        </script>
        <script>
            $('.flexslider--desktop').flexslider({
            animation: "slide",
            animationLoop: true,
            itemWidth:320,
            minItems: 3,
            maxItems: 3
            });
            
            $('.flexslider--mobile').flexslider({
            animation: "slide",
            animationLoop: true
            });
        </script>
        <script>
            $( ".resource-accordion__header-bar" ).click(function() {
                $("#resource-accordion__open-button").toggleClass("resource-accordion--open");
                $( ".resource-accordion__content" ).slideToggle( "fast" );
            });
        </script>
        <script>
            $('.tiles').removeClass('tiles');
            $('.authorable').removeClass('authorable');
            $('.micro-site-container').removeClass('micro-site-container');
            $('p').each(function() {
                var $this = $(this);
                if($this.html().replace(/\s|&nbsp;/g, '').length == 0)
                    $this.remove();
            });
        </script>
</main>