.hide-on-mobile {
  display:none;
}
@media only screen and (min-width: 768px) {
  .hide-on-mobile  {
    display: inline; } 
  }

  a:visited, a:focus {
    text-decoration: none;

  }

.wrapper, .wrapper--no-padding {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto; }

  @media only screen and (min-width: 950px) {
    .wrapper, .wrapper--no-padding {
      width:95%;
    }
  }  

.wrapper--no-padding {
  padding: 0; }

.bold {
  font-family: "proxima_nova_rgbold", Helvetica, Arial, sans-serif; }

.full-screen-width {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0 auto; }

.button-wrapper {
  display: block;
  height: 50px; }

.cta-button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 17px;
  background-color: #FF6400;
  color: #ffffff;
  padding: 14px 22px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background-color .1s linear;
  transition: background-color .1s linear; }
  .cta-button:hover {
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear; }

.image-contain {
  max-width: 100%;
  clear: none;
  margin: 0 auto;
  text-align: center;
  position: relative; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.flex-item {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }



.slider-container--mobile {
  padding: 75px 0; }
  .slider-container--mobile h2 {
    color: #3c3c3c!important;
    font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif!important;
    font-size: 34px;
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}
  .slider-container--mobile h3 {
    font-size: 34px;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif!important;
    color:#3c3c3c!important;
   }
  @media only screen and (min-width: 768px) {
    .slider-container--mobile {
      display: none; } }

.slider-container--desktop {
  display: none; }
  @media only screen and (min-width: 768px) {
    .slider-container--desktop {
      display: block;
      padding: 75px 0; }

        .slider-container--desktop h2 {
          color: #3c3c3c!important;
          font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif!important;
          font-size: 34px;
          line-height: 35px;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 40px;
      }
  }

.slides__item {
  width: 300px; }
  .slides__item h3 {
    font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif!important;
    text-transform: none;
    text-align: center;
    font-size: 19px;
    color: #3c3c3c;
    margin: 20px 0 5px 0; }
    @media only screen and (min-width: 768px) {
      .slides__item h3 {
        margin: 20px 0 15px 0;
        font-size: 21px;
        line-height:25px;
        color:#3c3c3c!important; } }
  .slides__item p {
    font-family: "proxima_novalight", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 14px;
    color: #3c3c3c;
    margin: 0 auto;
    width: 72%; 
    }
    @media only screen and (min-width: 768px) {
      .slides__item p {
        font-size: 17px;
        line-height: 1.5em; } }
    .slides__item p sup {
      font-size: 40%;
      vertical-align: 5px; }
  .slides__item img {
    width: 102px;
    height: 120px; }

/*
 * jQuery FlexSlider v2.7.1
 * http://www.woothemes.com/flexslider/

 * Contributing author: Tyler Smith (@mbmufffin)
 
  /* ====================================================================================================================
   * RESETS
   * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none; }

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* ====================================================================================================================
   * BASE STYLES
   * ====================================================================================================================*/
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

.flexslider .slides img {
  width: 100%;
  display: block; }

.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .flexslider .slides {
  display: block; }

* html .flexslider .slides {
  height: 1%; }

.no-js .flexslider .slides > li:first-child {
  display: block; }

/* ====================================================================================================================
   * DEFAULT THEME
   * ====================================================================================================================*/
.flexslider {
  background: #fff;
  position: relative;
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

@-moz-document url-prefix() {
  .loading .flex-viewport {
    max-height: none; } }

.carousel li {
  margin-right: 5px; }

.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 50px;
  height: 70px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: #fff; }

.flex-direction-nav a:before {
  font-family: arial;
  font-size: 0;
  display: inline-block;
  content: '';
  width: 50px;
  height: 70px;
  color: #fff; }

.flex-direction-nav .flex-prev {
  left: -50px;
  background: url("/products/horses/img/slider-arrow-left.svg");
  background-repeat: no-repeat; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
  background: url("/products/horses/img/slider-arrow-right.svg");
  background-repeat: no-repeat; }

.flexslider:hover .flex-direction-nav .flex-prev {
  left: 10px; }

.flexslider:hover .flex-direction-nav .flex-next {
  right: 10px; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1; }

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  display: inline-block; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 13px;
  height: 13px;
  display: block;
  background: #fff;
  border: 1px solid #FF6400;
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 100%; }

.flex-control-paging li a:hover {
  background: #FF6400; }

.flex-control-paging li a.flex-active {
  background: #FF6400;
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/* ====================================================================================================================
  Bader-Rutter Custom Styles
* ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }

#core-eq-wrapper {
  margin-left:-25px;
  width: calc(100% + 50px);
  font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif!important;
}

 @media screen and (min-width: 950px) {
  #core-eq-wrapper  {
    width: 110%;
    margin-left: -5%;
  }
 }

.accordion {
  display: none!important; }

.resource-accordion__header-bar {
  cursor: pointer;
  background-color: #F0F0F0;
  color: #3C3C3C;
  padding: 7px 20px 8px 20px; }
  .resource-accordion__header-bar h5 {
    letter-spacing: .5px;
    display: inline;
    font-size: 15px;
    line-height: 21px;
    padding-left: 5px;
    position: relative;
    top: 3px;
    color: #000!important;
    font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif!important; }

#resource-accordion__open-button {
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: inline;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

.resource-accordion__content {
  padding: 10px 20px;
  font-family: "proxima_novalight", Helvetica, Arial, sans-serif;
  display: none; }
  .resource-accordion__content ul {
    list-style: none;
    font-size: 11px;
    margin: 0;
    padding: 0; }
    .resource-accordion__content ul li {
      line-height: 16px; }
      .resource-accordion__content ul li:last-child {
        margin-top: 20px; }
      .resource-accordion__content ul li a {
        font-size: 12px;
        color: #FF6400;
        text-decoration: underline; }

.resource-accordion--open {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

.hero-background-image {
  background-image: url("/products/horses/img/horse-on-cliff-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 20px 15px;
  background-color: #000; }
  @media only screen and (min-width: 600px) {
    .hero-background-image {
      background-image: url("/products/horses/img/horse-on-cliff-tablet.jpg");
       } }
  @media only screen and (min-width: 769px) {
    .hero-background-image {
      padding: 60px;
      background-image: url("/products/horses/img/horse-on-cliff-wide.jpg"); } }

#innovator-logo {
  width: 200px;
  height: 55px;
  display: inline-block!important; }

  @media only screen and (min-width: 768px) {
    #innovator-logo {
      width: 230px; } }

#email-vet {
    position: absolute;
    top: 20px;
    right: 20px; }

    @media only screen and (min-width: 768px) {
    #email-vet {
      position: absolute;
      top: 30px;
      right: 35px;
    }
  }  
  #email-vet a {
    font-size: 17px;
    font-family: "proxima_novalight", Helvetica, Arial, sans-serif;
    font-weight: normal; 
    text-decoration: none;
    color: #fff; }
    @media only screen and (min-width: 768px) {
      #email-vet a {
        color: #fff; } }
  #email-vet a:hover {
    text-decoration: none; 
  color:#fff!important;
}
  #email-vet img {
    width: 30px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    bottom: 2px;}

.hero-text-left {
  padding-top: 35px; }
  @media only screen and (min-width: 768px) {
    .hero-text-left {
      padding-top: 60px;
      max-width: 450px; } }
  .hero-text-left h1 {
    text-shadow: 3px 1px 3px rgba(0, 0, 0, 0.35);
    font-size: 33px;
    line-height: 33px;
    text-transform: uppercase;
    font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif; }
    @media only screen and (min-width: 768px) {
      .hero-text-left h1 {
        line-height: 40px;
        font-size: 36px; } }
  .hero-text-left p {
    color:#fff!important;
    font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif!important;
    text-shadow: 3px 1px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 0;
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 21px;
  max-width: 450px;}
    @media only screen and (min-width: 768px) {
      .hero-text-left p {
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 25px;
        max-width:350px; } }

.watch-video-button {
  display: block;
  height: 43px;
  width: 172px;
  line-height: 45px;
  padding: 0;
  padding-left: 52px;
  position: relative;
  font-size: 18px;
  font-family: "proxima_novalight", Helvetica, Arial, sans-serif; }

  @media only screen and (min-width: 768px) {
    .watch-video-button {
      height: 47px;
      width: 175px;
      line-height: 47px;
      padding: 0;
      padding-left: 48px;
    }
  }

  .watch-video-button:focus { 
    color:#fff;
  }

  .watch-video-button:hover {
    background-color: #fff;
    color: #FF6400!important;
    text-decoration: none;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
  }

  .watch-video-button:before {
    width: 25px;
    height: 25px;
    content: "";
    background-image: url(/products/horses/img/play-button-sprite.svg);
    background-position: 0px 0px;
    background-size: 25px 50px;
    background-repeat: no-repeat;
    position: absolute;
    left: 13px;
    top: 9px;
  }

  @media only screen and (min-width: 768px) {
    .watch-video-button:before {
      width: 27px;
      height: 27px;
      background-size: 28px 54px;
      background-repeat: no-repeat;
      position: absolute;
      left: 13px;
      top: 9px;
    }
  }

  .watch-video-button:hover:before {
    background-position: 0px -30px;
    background-size: 25px 60px;
    background-repeat: no-repeat;
    position: absolute;
    left: 13px;
    top: 9px;
}

@media only screen and (min-width: 768px) {
  .watch-video-button:hover:before {
    top:11px;
  }
}

.hero-text-center {
  color: #fff!important;
  opacity:1!important;;
  padding-top: 67%;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .hero-text-center {
      padding-top: 25%; } }
  .hero-text-center h1 {
    font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif!important;
    text-shadow: 5px 1px 6px rgba(0, 0, 0, 0.35);
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 26px; }
    @media only screen and (min-width: 500px) {
      .hero-text-center h1 {
        font-size: 32px;
        line-height: 38px; } }
  .hero-text-center p {
    font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif!important;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, .5);
    font-size: 15px;
    margin: 0 auto; }
    @media only screen and (min-width: 768px) {
      .hero-text-center p {
        max-width: 450px; } }

.disease-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; 
}

.disease-item {
  -ms-flex-preferred-size: 88%;
  flex-basis: 88%;
  text-align: center;
  margin: 40px 0 0 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  .disease-item:first-of-type {
    margin-top: 60px; }
  @media only screen and (min-width: 768px) {
    .disease-item {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      margin: 100px 0 0 0;
      padding: 0 15px; }
      .disease-item:first-of-type {
        margin-top: 100px; } }
  @media only screen and (min-width: 980px) {
    .disease-item {
      -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%; } }
  .disease-item h3 {
    font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif!important;
    text-shadow: 5px 1px 6px rgba(0, 0, 0, 0.25);
    padding-bottom: 5px;
    margin-bottom: 0;
    border-bottom: 3px solid #707070;
    display: inline-block;
    width: 80%;
    font-size: 22px;
    line-height: 23px;
    margin: 0 auto;
    text-transform: none;
 }

 @media only screen and (min-width: 768px) {
  .disease-item h3 {
    padding-bottom: 3px;
    font-size: 22px;
  }
 }
  .disease-item p {
    text-shadow: 5px 1px 6px rgba(0, 0, 0, 0.25);
    font-family: "proxima_novalight", Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    margin: 10px; }
    @media only screen and (min-width: 768px) {
      .disease-item p {
        font-size: 16px; } }

.core-disease-guide {
  padding: 30px 20px;
  border-top: 3px solid #707070;
  border-bottom: 3px solid #707070;
  margin-top: 60px;
  margin-bottom: 60px; }
  @media only screen and (min-width: 600px) {
    .core-disease-guide {
      max-width: 550px;
      margin: 100px auto 80px auto; 
      padding: 30px 40px;} }
  .core-disease-guide img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      .core-disease-guide img {
        display: inline-block;
        width: 108px;
        margin-bottom: 0px; } }

.core-disease-guide__text-container {
  display: block;
  width: 100%;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .core-disease-guide__text-container {
      text-align: left;
      float: right;
      width: calc(100% - 145px); } }
  .core-disease-guide__text-container h4 {
    font-family: "proxima_novalight", Helvetica, Arial, sans-serif;
    font-size: 21px;
    color: #fff;
    margin: 0 0 32px 0; }
    @media only screen and (min-width: 768px) {
      .core-disease-guide__text-container h4 {
        margin: 0 0 20px 0; } }

.core-disease-button {
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #fff;
  display: block;
  height: 50px;
  width: 100%;
  font-size: 15px;
  line-height: 47px;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  letter-spacing: 1px; }

  @media only screen and (min-width: 480px) {
  .core-disease-button {
    width: 300px;
    font-size: 17px;
  }
}

  .core-disease-button:focus { 
    color:#fff;
  }

  @media only screen and (min-width: 768px) {
    .core-disease-button {
      margin: 0; } }

  .core-disease-button:hover {
    background-color: #FF6400;
    border: 3px solid #FF6400;
    color: #ffffff!important;
    text-decoration: none;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear; }

.contact-vet {
  background-color: #FF6400;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .contact-vet .two-column-content__text {
    padding: 0 0 40px 0; }
    @media only screen and (min-width: 768px) {
      .contact-vet .two-column-content__text {
        padding: 60px 30px 40px 0; } }

.product-detail {
  background-color: #F0F0F0;
  color: #3C3C3C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 7px; }

  .product-detail p {
    color: #3C3C3C;
  }
  .product-detail .two-column-content__image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
    @media only screen and (min-width: 768px) {
      .product-detail .two-column-content__image {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; } }
  .product-detail .two-column-content__text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding: 0 0 40px 0; }
    @media only screen and (min-width: 768px) {
      .product-detail .two-column-content__text {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        padding: 60px 0 40px 40px; } }

#vials {
  max-width: 250px;
  margin: 0 auto;
  display: block; }
  @media only screen and (min-width: 768px) {
    #vials {
      max-width: 300px; } }

#medical-logo {
  max-width: 200px;
  margin: 0 auto;
  margin-left: auto;
  display: block; }

  @media only screen and (min-width: 768px) {
    #medical-logo {
      max-width: 300px;
      margin: 0 auto;
      margin-left: 31px;
    } 
  }

.two-column-content__image {
  margin: 0 auto;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding: 40px 20px; }
  @media only screen and (min-width: 768px) {
    .two-column-content__image {
      padding: 40px 25px 40px 0;
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%; } }

.two-column-content__text {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .two-column-content__text {
      text-align: left;
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%; } }
  .two-column-content__text h4 {
    font-family: "proxima_novalight", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 34px;
    line-height: 35px;
    margin: 0; }
  .two-column-content__text p {
    font-family: "proxima_novalight", Helvetica, Arial, sans-serif;
    font-size: 17px;
    max-width: 400px;
    margin: 1em auto; }
    @media only screen and (min-width: 768px) {
      .two-column-content__text p {
        margin: 1em 0;
      }
    }

.email-vet-button {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #fff;
  display: block;
  height: 50px;
  width: 90%;
  line-height: 45px;
  text-align: center;
  padding: 0 0 0 30px;
  margin: 0 auto;
  letter-spacing: 1px; }

  @media only screen and (min-width: 480px) {
  .email-vet-button {
    font-size: 18px;
    width: 330px;
  }
}

  .email-vet-button:focus { 
    color:#fff;
  }

  .email-vet-button:hover {
    background-color: #fff;
    color: #FF6400;
 }

  @media only screen and (min-width: 768px) {
    .email-vet-button {
      margin: 0; } }

  .email-vet-button:before {
    width: 30px;
    height: 22px;
    content: "";
    background-image: url("/products/horses/img/envelope-sprite.svg");
    background-position: 0px 0px;
    background-size: 30px 44px;
    background-repeat: no-repeat;
    position: absolute;
    left: 13px;
    top: 10px; 
  }

    .email-vet-button:hover:before {
      background-position: 0px -23px;
      top: 12px;
    }

.text-vet-button {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #fff;
  display: block;
  height: 50px;
  width: 90%;
  line-height: 45px;
  text-align: center;
  padding: 0 0 0 30px;
  margin: 15px auto 0  auto;
  letter-spacing: 1px;
  transition:none; }


  .text-vet-button:focus {
    color:#fff;
  }

  @media only screen and (min-width: 480px) {
    .text-vet-button {
      font-size: 18px;
      width: 330px;
    }
  }
  @media only screen and (min-width: 768px) {
    .text-vet-button {
      display: none; } 
  }

  .text-vet-button:hover {
    background-color: #fff;
    color: #FF6400;
  }

.text-vet-button:before {
  width: 30px;
  height: 30px;
  content: "";
  background-image: url("/products/horses/img/text-bubble-sprite.svg");
  background-repeat: no-repeat;
  background-size: 28px 53px;
  position: absolute;
  left: 13px;
  top: 10px; }

.text-vet-button:hover:before {
    background-position: 0px -23px;
    top: 7px;
}

.view-product-button {
  font-size: 16px;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #FF6400;
  color: #FF6400;
  display: block;
  height: 50px;
  width: 90%;
  line-height: 45px;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  letter-spacing: 1px; }

  @media only screen and (min-width: 480px) {
    .view-product-button {
      width: 300px;
      font-size: 17px;
    }
  }

  .view-product-button:focus { 
    color:#FF6400;
  }

  @media only screen and (min-width: 768px) {
    .view-product-button {
      margin: 0; } }

  .view-product-button:hover { 
    background-color:#FF6400;
    border: 3px solid #FF6400;
    color:#fff;
  }

  .micro-site-nav-main {
    display: none!important;
  }

  .micro-site-nav-megamenu {
    display: none!important;
  }

  #main {
    overflow-x: hidden!important;
} 

@media only screen and (max-width: 600px) {
  .fancybox-wrap {
    width:90%!important;
  }

  .fancybox-inner {
    width:100%!important;
    height: auto!important;
  }
}